@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.invertir-color {
  filter: invert(100%);
}

.Main-body {
  min-height: 100vh;
  min-width: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.img-container {
  height: 200px;
  max-height: 250px; /* Establece la altura máxima */
  overflow: hidden; /* Oculta cualquier parte de la imagen que exceda la altura máxima */
}

#index-img {
  max-height: 700px;
  object-fit: cover;
}
